.petfinder-card {
  width: 250px;
  height: 320px;
  margin-left: 30px;
  margin-top: 30px;
  font-family: $headingsFont;
  float: left;
  position: relative;
  h3 {
    text-align: center;
    padding-bottom: 15px;
  }
  li {
    margin-left: 10px;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: $iconColor;
    }
    &.petfinder-url {
      position: absolute;
      bottom: 5px;
      left: 12px;
    }
    &.breed, &.age {
      position: absolute;
      left: 12px;
    }
    &.breed {
      bottom: 35px;
    }
    &.age {
      bottom: 55px;
    }
  }
  img {
    width: 200px;
    height: 200px;
    margin-left: 25px;
    border-radius: 50%;
  }
}
