.home, .hero {
  background-size: cover;
}
.home {
  background-image: url('../../images/home.jpg');
}
.hero {
  height: 400px;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @include media(desktop) {
    height: 300px;
  }

  @include media(tablet) {
    height: 200px;
  }

  &.toys {
    background-image: url('../../images/toys.jpg');
  }
  &.adopt {
    background-image: url('../../images/adopt.jpg');
  }
  &.accessories {
    background-image: url('../../images/accessories.jpg');
  }
  &.costumes {
    background-image: url('../../images/costumes.jpg');
  }
}
