div.handlebar {
  display: none;
  overflow: auto;
  &.active {
    margin: 0 auto 20px auto;
    padding-bottom: 20px;
    background: rgba(156,0,1, .2);
    display: block;
    width: 90%;
    border-radius: 10px;
    @include media(mobile2) {
      width: 80%;
    }
    &.adopt {
      @include media(mobile) {
        width: 60%;
        margin-left: 30%;
      }
      @include media(mobile2) {
        width: 65%;
        margin-left: 32.5%;
      }
    }
  }
}
.etsy-card {
  width: 250px;
  height: 350px;
  margin-left: 30px;
  margin-top: 30px;
  font-family: $headingsFont;
  float: left;
  line-height: 1.3em;
  position: relative;
  li {
    margin-left: 10px;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: $red;
    }
    &.etsy-url {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }
    &.price {
      position: absolute;
      bottom: 35px;
      left: 5px;
      font-weight: bold;
    }
  }
  img {
    width: 200px;
    height: 200px;
    margin-left: 25px;
    border-radius: 50%;
  }
}
