.error-container {
    font-family: $headingsFont;
    margin: 100px auto;
    width: 80%;
    overflow: auto;
    li {
        float: left;
        &.error-image {
            text-align: right;
            padding-top: 2%;
            padding-right: 5%;
        }
        h1 {
            font-size: 80px;
            color: $red;
            font-weight: bold;
            text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
            text-align: left;
            float: right;
            padding-right: 25%;
            width: 100%;
            margin-top: 30%;
        }
        p {
            color: #000;
            font-size: 30px;
            float: left;
            padding-top: 20px;
        }
    }
}
