@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/navbar';
@import 'partials/backgrounds';
@import 'partials/home-handlebar';
@import 'partials/category-handlebar';
@import 'partials/adoption-handlebar';
@import 'partials/errors';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
  background-color: $navbarColor;
}
